# Node.js
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos sensibles
.env

# Build/output
dist/
build/
*.map

# Otros
*.bak
*.swp
